:root {
  --main-yellow: #F1A501;
  --main-salmon: #DF6951;
  --bg-color: #FFFFFF;
  --main-navy_blue: #181E4B;
  --main-light_blue: #5E6282;
  --light-grey: #F9F7FE;
  --light-purple: #F9F7FE;
  --text-p-size: 1rem;
  --text-subtitle-size: 1.2rem;
  --font-family-titles: 'Volkhov', sans-serif;
  --font-family-text: 'Poppins', serif;
  --font-p-size: 0.8rem;
  --font-p-weight: 300;
  --font-subtitles-size: 1rem;
  --font-subtitles-weight: 500;
  --padding-big: 4vw;
  --padding-small: 2vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  padding: var(--padding-small) var(--padding-big);
}

/* HEADER */

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list {
  display: flex;
  align-items: center;
  gap: 4vw;
  list-style: none;
}

li a {
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
}

#signupbutton-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px var(--main-navy_blue);
  width: 100px;
  height: 40px;
  border-radius: 8px;
}

.nav-list-element>label {
  display: none;
}

#language-selector {
  border: none;
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
}

#language-selector:active {
  border: none;
}

#language-selector>option {
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
}