:root {
  --main-yellow: #F1A501;
  --main-salmon: #DF6951;
  --bg-color: #FFFFFF;
  --main-navy_blue: #181E4B;
  --main-light_blue: #5E6282;
  --light-grey: #F9F7FE;
  --light-purple: #F9F7FE;
  --text-subtitle-size: 1.2rem;
  --font-family-titles: 'Volkhov', sans-serif;
  --font-family-text: 'Poppins', serif;
  --font-p-size: 0.8rem;
  --font-p-weight: 400;
  --font-subtitles-size: 1rem;
  --font-subtitles-weight: 600;
  --font-titles-weight: 700;
  --padding-big: 10vw;
  --padding-small: 2vw;
  --border-radius: 16px;
  --border-radius-big: 20px;
  --box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.065);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: var(--font-p-size);
  font-family: var(--font-family-text);
  font-weight: var(--font-p-weight);
  color: var(--main-navy_blue);
}

/*! BODY */

#bg-image-blob {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -3;
}

body {
  padding: var(--padding-small) var(--padding-big);
}

/*! HEADER */


#header-container,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
  /* flex-wrap: nowrap; */
}

#toggle-nav {
  display: none;
}

#toggle-nav img {
  width: 40px;
}

#nav-list {
  display: flex;
  align-items: center;
  gap: 4vw;
  list-style: none;
}

li a {
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
}

#signupbutton-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px var(--main-navy_blue);
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
}

.nav-list-element>label {
  display: none;
}

#language-selector {
  border: none;
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
  background-color: transparent;
}

#language-selector:active {
  border: none;
}

#language-selector>option {
  font-size: var(--font-subtitles-size);
  text-decoration: none;
  color: var(--main-navy_blue);
  font-family: var(--font-family-text);
  font-weight: var(--font-subtitles-weight);
}

/*! MAIN */

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/*! FIRST SECTION */

#underlined-text {
  background-image: url(https://res.cloudinary.com/dgrhbsilh/image/upload/v1697732987/Jadoo-travel/yumvnsmereskikoq7ej9.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 75px;
}

#first-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#first-section div {
  flex: 1;
}

.section-text-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  /* max-width: 45%; */
}

#alt-highlight-text {
  font-family: var(--font-family-text);
  font-size: var(--font-subtitles-size);
  text-transform: uppercase;
  font-weight: var(--font-titles-weight);
  color: var(--main-salmon);
}

h1 {
  font-family: var(--font-family-titles);
  font-weight: var(--font-titles-weight);
  font-size: 4.5rem;
  color: var(--main-navy_blue);
  line-height: 5rem;
}

#main-subtitle {
  font-size: var(--font-p-size);
  font-family: var(--font-family-text);
  font-weight: var(--font-p-weight);
  max-width: 80%;
}

#button-demo-part {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#find-out-more-button {
  color: var(--light-grey);
  background-color: var(--main-yellow);
  width: 150px;
  height: 50px;
  border-radius: var(--border-radius);
  border: none;
}

#demo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  ;
}

.img-div {
  display: flex;
  justify-content: center;
}

/*! SECOND SECTION */

#second-section {
  display: flex;
  gap: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#second-section .section-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0vh;
}

.subtitles {
  text-transform: uppercase;
  font-weight: var(--font-subtitles-weight);
}

h2 {
  font-size: 3rem;
  font-family: var(--font-family-titles);
  color: var(--main-navy_blue);
  text-transform: capitalize;
}

.service-titles {
  font-size: var(--font-subtitles-size);
  font-weight: var(--font-subtitles-weight);
  text-transform: uppercase;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

#second-section .section-content {
  display: flex;
  /* gap: 50px; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#second-section .section-content:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.section-content .service {
  max-width: 15vw;
  padding: var(--padding-small);
  border-radius: var(--border-radius-big);
  background-color: var(--bg-color);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.023);
}

.services-text {
  display: flex;
  flex-direction: column;
  gap: var(--font-p-size);
}

.service-icon {
  position: relative;
  /* top: 30px; */
  /* z-index: -1; */
}

#salmon-img {
  position: absolute;
  z-index: -2;
  left: -35px;
  top: 175px;
}

#first-crosses {
  position: absolute;
  z-index: -2;
  left: 85%;
}

/*! THIRD SECTION  */

#third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#third-section .section-content {
  display: flex;
  gap: 50px;
}

#third-section .section-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.destination {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.destination-info {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 15px;/
}

.first-line-destination {
  display: flex;
  justify-content: space-between;
}

.second-line-destination {
  display: flex;
  gap: 5px;
}

.destination-image {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/*! FOURTH SECTION */

#fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-big);
}

#fourth-section .section-text-div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#steps-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-fourth {
  display: flex;
  position: relative;
}

.card-fourth-section {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  padding: var(--padding-small);
  border-radius: var(--border-radius-big);
  display: flex;
  flex-direction: column;
  gap: var(--font-p-size);
  z-index: -4;
}

.card-image img {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.second-part-card .card-text {
  display: flex;
  flex-direction: column;
  gap: var(--font-p-size);
}

.card-icons {
  display: flex;
  margin-top: var(--font-p-size);
  gap: var(--font-p-size);
}

#top-card {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  min-width: 225px;
  display: flex;
  align-items: center;
}

.first-line-card {
  display: flex;
  gap: var(--font-p-size);
  align-items: center;
  justify-content: center;
}

.first-line-card img {
  border-radius: 100%;
}

.circle-bg {
  width: 300px;
  height: 300px;
  background-color: var(--light-purple);
  z-index: -5;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 100%;
  filter: blur(15px);
}

/*! FIFTH SECTION */

.providers-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}

.provider-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*! SIXTH SECTION  */

#sixth-section {
  position: relative;
}

#navigation-icon {
  position: absolute;
  right: -30px;
  top: -30px;
}

#container-sixth-section {
  background-color: var(--light-purple);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: 90px;
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.big-subtitles {
  font-size: 1.25rem;
  color: var(--main-light_blue);
  max-width: 600px;
  text-align: center;
}

form {
  display: flex;
  gap: 20px;
}

label {
  display: none;
}

#email {
  border: none;
  padding: 1%;
  min-width: 300px;
  min-height: 40px;
  color: var(--main-navy_blue);
  border-radius: 1vw;
}

form button {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: var(--border-radius);
  background-color: var(--main-salmon);
  font-family: var(--font-family-text);
  color: var(--light-grey);
}

.second-crosses {
  position: absolute;
  right: -100px;
  bottom: -80px;
}

.gradient {
  border-radius: 100%;
  position: absolute;
  background-color: var(--main-yellow);
  width: 300px;
  height: 300px;
  left: -100px;
  top: -40px;
  filter: blur(75px);
  z-index: -6;
  opacity: 0.2;
}

/*! FOOTER  */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
  justify-content: center;
  margin-top: 10vh;
}

.footer-part {
  display: flex;
  justify-self: center;
  gap: 1vh;
}

.footer-01 {
  flex-direction: column;
  max-width: 60%;
}

.footer-02 {
  gap: 50px;
}

.footer-02 ul {
  list-style: none;
}

.footer-02 ul>p {
  margin: 20px 0;
}

.footer-02 a {
  font-weight: var(--font-p-weight);
  color: var(--main-light_blue);
}

.footer-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#social-icons {
  display: flex;

}

.stores-icons {
  display: flex;
}


/*! MEDIA QUERIES  */

@media screen and (max-width: 1200px) {

  /*! BODY  */
  #bg-image-blob {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: -3;
  }

  /*! HEADER  */
  .header-item {
    display: none;
  }

  #header-logo,
  #toggle-nav {
    display: flex;
  }

  /*! SECOND SECTION  */
  #second-section .section-content:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /*! THIRD SECTION  */

  #third-section .section-content:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  /*! FOURTH SECTION  */
  #fourth-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  /*! FIFTH SECTION  */

  .providers-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  /*! SIXTH SECTION  */

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /*! FOOTER  */
  /*?--------------------------------------------------CONTINUE-HERE------------------------------------------------------------------------------------  */
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    align-items: start;
    justify-content: center;
    margin-top: 10vh;
  }

}